<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TP !{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} text-danger text-center" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <header>
            <h2 class="bg-light p-2 d-inline-block"><img src="{{ asset('img/logo.png') }}" alt="" >  Bucket-List</h2>
            {% include "_navbar.html.twig" %}
        </header>

        <main>
        {% block body %}{% endblock %}
        </main>

        <footer>
            <div>&copy; Bucket-List {{ "now" |date('Y') }}</div>
        </footer>
    </body>
</html>
